{% extends 'main_base.html' %}

{% block content %}
<style>
		div.card{
			margin: 10px auto;
		}
		div.card-text{
			line-height: 1.7
		}
		.contact{
			padding: 20px 0;
		}
		.display-3{
			font-weight: 400;
		}
	</style>
	<div class="container" style="margin-top:150px;">
		<h1 class="display-3" style="margin-bottom: 30px; text-align: center">Our Team</h1>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="amitsir.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Dr.Amit Agarwal</h5>
						<p class="card-text">T&amp;P Officer</p>
						<div class="card-text">
							<i class="fas fa-phone" style="font-size: 0.7rem; align-content: center"></i> Office : 0041-456-3692<br>
							<i class="fas fa-mobile-alt"></i> Mobile : 8954-16-7407<br>
							<i class="fas fa-envelope"></i> Email : amitag@iiitnr.edu.in<br>
						</div>					
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="prk.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Prakshaal Jain</h5>
						<p class="card-text">B.tech 4th Year ECE</p>
						<div class="card-text">
							<i class="fas fa-phone" style="font-size: 0.7rem; align-content: center"></i> Office : 0041-456-3692<br>
							<i class="fas fa-mobile-alt"></i> Mobile : 9039-08-1299<br>
							<i class="fas fa-envelope"></i> Email : placement@iiitnr.ac.in<br>
						</div>					
					</div>
				</div>

			</div>
			<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="sans.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Sanskar Patel</h5>
						<p class="card-text">B.tech 4th Year ECE</p>
						<div class="card-text">
							<i class="fas fa-phone" style="font-size: 0.7rem; align-content: center"></i> Office : 0041-456-3692<br>
							<i class="fas fa-mobile-alt"></i> Mobile : 7587-74-5894<br>
							<i class="fas fa-envelope"></i> Email : placement@iiitnr.ac.in<br>
						</div>					
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="piyush1.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Piyush Yadav</h5>
						<p class="card-text">B.tech 4th Year CSE</p>
						<div class="card-text">
							<i class="fas fa-phone" style="font-size: 0.7rem; align-content: center"></i> Office : 0041-456-3692<br>
							<i class="fas fa-mobile-alt"></i> Mobile : 940-60-16910<br>
							<i class="fas fa-envelope"></i> Email : placement@iiitnr.ac.in<br>
						</div>					
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="pic.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Nitesh Agarwal</h5>
						<p class="card-text">B.tech 4th Year CSE</p>
						<div class="card-text">
							<i class="fas fa-phone" style="font-size: 0.7rem; align-content: center"></i> Office : 0041-456-3692<br>
							<i class="fas fa-mobile-alt"></i> Mobile : 9777-77-8670<br>
							<i class="fas fa-envelope"></i> Email : placement@iiitnr.ac.in<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row contact">
			<div class="col-sm-5">
				<h1>Contact Information</h1><br>
				IIIT–Naya Raipur, Plot No. 7, Sector 24, Near Purkhoti Muktangan ,Naya Raipur – 493661, Chhattisgarh<br><br>

				Telephone :(0771) 2474040<br>
				<a href="mailto:iiit.nr@gov.in">iiitnr@iiitnr.ac.in</a>
			</div>
			<div class="col-sm-7">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.601085200859!2d81.7639767142047!3d21.12846438594446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28c434ac2ae871%3A0x4e3568497a7e1d7e!2sInternational+Institute+Of+Information+Technology+Naya+Raipur!5e0!3m2!1sen!2sin!4v1517732323542" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
{% endblock %}
