{% extends 'base.html' %}
{% load static %}
{% block content %}
<?------------ slideshow --------------------------->

<div class="slideshow">
  <!-- Slideshow container -->

	<img src="{% static 'images/img1.jpg'%}" width="100%" height="510">

  <!-- Full-width images with number and caption text -->
    
</div>
   
<? ------------------Events --------------------------->

	<div>
		<marquee width = "100%">JOB OPPORTUNITY @1 &nbsp&nbsp&nbsp&nbsp&nbsp JOB OPPORTUNITY @2</marquee>

	</div>
{% endblock %}
