{% extends 'main_base.html' %}
{% load static %}
{% block content %}

</body>
  <div class="slideshow">
  <!-- Slideshow container -->


  <!-- Full-width images with number and caption text -->
    <img src="{% static 'images/banner.jpg'%}" width="100%" height="900">
</div>

<? ------------------Events --------------------------->

<div>
  <marquee width = "100%">JOB OPPORTUNITY @1 &nbsp&nbsp&nbsp&nbsp&nbsp JOB OPPORTUNITY @2</marquee>

</div>

<!--Director's Message-->
<!--<div class="container">
<div class="left-div left-text">
  Ananya Verma
</div>

<div class="right-div right-text">
Ananya...
</div>
</div>-->

<!--<section class="container">
  <div class="left-half">
    <article>
      <h1>Left Half</h1>
      <p>Weekends don't count unless you spend them doing something completely pointless.</p>
    </article>
  </div>
  <div class="right-half">
    <article>
      <h1>Right Half</h1>
      <p>If your knees aren't green by the end of the day, you ought to seriously re-examine your life.</p>
    </article>
  </div>
</section>-->

<div class="row">
  <div class="col-md-8 col-sm-12">
  <!--About Us-->
  <div>
    <h2 style="padding-bottom: 10px;">
      <i class="fa fa-star"></i>
       &nbsp;Why IIIT Naya Raipur? 
    </h2>
    <p>
      IIiT Naya Raipur is the first, the largest and the most diversified among the IITs, and has always been an innovator either in the industry or academia; the alumni of this institute have always made their alma mater proud, with their innovative thoughts and perseverance for the growth of corporations all over the globe. The institute offers a robust academic curriculum, along with a culture of excellence in extracurricular activities.
    </p>
    <p>
      A typical IIITian has always played a pivotal role in the growth of organizations, a habit which is cultivated right here on campus. Our alumni reinforce our belief that whichever be the industry, at IIIT Naya Raipur, you will always find candidates meeting, and even exceeding your expectations from a prospective employee.
    </p>
  </div>
  <!--Director's Message-->
  <div class="row" style="padding:0px; padding-top: 0px;">
    <div class="col-md-12" style="padding:0px 10px;">
    </div>
    <div class="col-md-12" style="padding:5px 10px;">
    <div class="col-md-12 bpmbox">
    <h2>
      <i class="fa fa-pencil"></i>
      &nbsp From the Director's Desk
    </h2>
    <div class="row">
      <div align="center" class="col-md-4" style="text-align:center;"><img src="{% static 'images/director.jpg'%}" style="width:160px;padding:20px;padding-top:5px;"></div>
      <div class="col-md-8">
      <p>
        International Institute of Information Technology, Naya Raipur the pioneer of technical education in India is the largest and most diversified of the IIITs established post independence. The Institute consistently attracts the finest faculty and students for its undergraduate, postgraduate as well as doctoral programs in engineering,...
      </p>
       <p></p> 
       <h3>
         <a href="#" class="newslinks">Read More</a>
         &nbsp;
         <i class="fa fa-long-arrow-right"></i>
       </h3>
       <p></p>
      </div>
    </div>  
    </div>
    </div>
    <div class="col-md-12" style="padding: 5px 10px;">
      <div class="col-md-12 bpmbox">
        <h2>
          <i class="fa fa-pencil">
          </i>
          &nbsp TPO Coordinator's Message
        </h2>
        <div class="row">
          <div align="center" class="col-md-4" style="text-align:center;"><img src="{% static 'images/amit.jpg'%}" style="width:160px;padding:20px;padding-top:5px;"></div>
          <div class="col-md-8">
            <p>
              Through its unique educational system, IIIT Naya Raipur ensures that the students are well equipped to face the upcoming challenges with just the right blend of knowledge, communication skills, leadership and an overall sanguine attitude...
            </p>
            <p></p>
            <h3>
              <a href="#" class="newslinks">Read More</a>
              &nbsp;
              <i class="fa fa-long-arrow-right"></i>
            </h3>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-sm-12">
                        <div class="col-md-12">
                        <!-- News -->
                            <div style="max-height:300px;overflow-y:scroll;padding-right:16px;padding-bottom:30px;">
                                <h2 style="padding-bottom:10px;"><i class="fa fa-list-alt"></i> &nbsp;Recent News</h2>
                                                                <p><i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;
                                    <a href="#" target="_blank" class="newslinks">30 offers at the end of phase-I placement at IIIT Naya Raipur                                    </a>
                                </p>
                                                                <p><i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;
                                    <a href="#" target="_blank" class="newslinks">The placement session 2017-18 at IIIT Naya Raipur reached a remarkable milestone with offers made to 30 students of the institute at the end of its phase-I.                                    </a>
                                </p>
                                                                <p><i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;
                                    <a href="#" target="_blank" class="newslinks">IIIT Naya Raipur placements: 30 job offers to students in phase 1                                    </a>
                                </p>
                                                                <p><i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;
                                    <a href="#" target="_blank" class="newslinks">IIIT-Naya Raipur placements see significant boost with 75% placements in UG                                    </a>
                                </p>
                                                                <p><i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;
                                    <a href="#" target="_blank" class="newslinks">IIIT Naya Raipur reaches remarkable milestone; 30 students get offers at the end of phase-I placement                                    </a>
                                </p>
                                                                <p><i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;
                                    <a href="#" target="_blank" class="newslinks">IIIT-Naya Raipur placements: 30 job offers                                    </a>
                                </p>
                                                            </div>
                            <br>
                            <!-- Quick Links -->
                            <div class="row">
                            <div class="col-sm-6 col-md-12">
                                <br>
                                <h2><i class="fa fa-external-link"></i> &nbsp;Quick Links</h2>
                                <p><i class="fa fa-share-alt"></i>&nbsp;&nbsp;<a href="#" class="newslinks" target="_blank">Company login</a></p>
                                <p><i class="fa fa-share-alt"></i>&nbsp;&nbsp;<a href="#" class="newslinks">Meet Our Team</a></p>
                                <p><i class="fa fa-share-alt"></i>&nbsp;&nbsp;<a href="#" class="newslinks">Reach Us</a></p>
                            </div>
                            <br>
                            <!-- Reach Us -->
                                <div class="col-sm-6 col-md-12">
                                    <br>
                                    <h2><i class="fa fa-asterisk"></i> &nbsp;Quick Contacts</h2>
                                    <p><i class="fa fa-phone"></i>&nbsp;&nbsp;<a href="tel:+91 123654789" target="_blank" class="newslinks">+91-1111-111111</a></p>
                                    <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="# " target="_blank" class="newslinks">webmaster.iiitnr.edu.in</a></p>
                                    <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;<a href="#" target="_blank" class="newslinks">Naya Raipur, Chhattisgarh 493661</a></p>
                                </div>
                            </div>
                        </div>
              </div>






{% endblock %}
