{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Student Login/Signup </title>
  
  
  
      <link rel="stylesheet" href="{% static 'css/login.css' %}">

  
</head>

<body>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="style.css" rel="stylesheet" type="text/css">
  <script> </script>
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input id="create-username" type="text" placeholder="Student Name"/>
      <input id="create-password" type="text" placeholder="password"/>
      <input id="create-email" type="text" placeholder="email address"/>
      <button name="create-button" type="button" id="create-button">create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input id="login-username" type="text" placeholder="username" name="login-username"/>
      <input id="login-password" type="text" placeholder="password" name="login-password"/>
      <button name="login-button" type="button" id="login-button">login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
</body>
</html>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

  

    <script  src="{% static 'js/login.js' %}"></script>

</body>
</html>
