<!DOCTYPE html>
<html>
<head>
	<title>Training and Career Cell, IIIT Naya Raipur</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<! ------------Navbar ------------------->	
<div id="nav_container" >
	<div id="iiit_logo_container">

		<img src="logo.png" alt="IIIT logo" width="99" height="99" id="logo">
	</div>	
	<div id="TC_Head">
		<h1 style="color :white" >Training and Career Cell |</h1>
	</div>
	<div id="IIIT_name">
		<h3>International Institute of Information Technology , Naya Raipur <br> A joint initiative of NTPC and CG Govt.</h3>
	</div>
	<div id="btn">
		<button type="button" class="button">Download<br>Brochure</button>
	</div>
	<div id="logo_name" style="background-color:#43536A">
		<?---------about------------->
		<div class="dropdown">
    		<button class="dropbtn" id="abt">About </button>
    		<div class="dropdown-content">
      		<a href="#">Link 1</a>
      		<a href="#">Link 2</a>
      		<a href="#">Link 3</a>
    		</div>
  		</div> 	

  		<?---------for recruiters------------->
		<div class="dropdown">
    		<button class="dropbtn" id="fr">For Recruiters </button>
    		<div class="dropdown-content">
      		<a href="#">Link 1</a>
      		<a href="#">Link 2</a>
      		<a href="#">Link 3</a>
    		</div>
  		</div> 

  		<?---------for students------------->
		<div class="dropdown">
    		<button class="dropbtn" id="fs">For Students </button>
    		<div class="dropdown-content">
      		<a href="#">Link 1</a>
      		<a href="#">Link 2</a>
      		<a href="#">Link 3</a>
    		</div>
  		</div> 

  		<?---------Industry------------->
		<div class="dropdown">
    		<button class="dropbtn" id="ind">Industry </button>
    		<div class="dropdown-content">
      		<a href="#">Link 1</a>
      		<a href="#">Link 2</a>
      		<a href="#">Link 3</a>
    		</div>
  		</div> 

  		<?---------Contact Us------------->
		<div class="dropdown">
    		<button class="dropbtn" id="cu">Contact Us </button>
    		<div class="dropdown-content">
      		<a href="#">Link 1</a>
      		<a href="#">Link 2</a>
      		<a href="#">Link 3</a>
    		</div>
  		</div> 

	</div>
	<div id="orange_strip">
		.
	</div>
</div>

<?------------ slideshow --------------------------->

<div class="slideshow">
  <!-- Slideshow container -->


  <!-- Full-width images with number and caption text -->
    <img src="img1.jpg" width="100%" height="510">
</div>
   
<? ------------------Events --------------------------->

<div>
	<marquee width = "100%">JOB OPPORTUNITY @1 &nbsp&nbsp&nbsp&nbsp&nbsp JOB OPPORTUNITY @2</marquee>

</div>




</body>
</html>